body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#0F2027,#2C5364);
    
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    background-image: linear-gradient(#bdc3c7,#2c3e50);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    align-items: center;
}

#profile {
    flex: 1;
    text-align: center;
}

#profile img {
    max-width: 150px;
    border: 5px solid #14181b;
    border-radius: 50%;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: black;
}

p {
    margin: 0;
    font-size: 18px;
    color: rgb(25, 24, 24);
}

section {
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

address {
    font-size: 18px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 22px;
    margin: 0;
    color: black;
}

.date {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.company {
    font-size: 16px;
    font-style: italic;
    color: black;
}

.education {
    margin-bottom: 20px;
}

education h3 {
    font-size: 22px;
    margin: 0;
    color: black;
}

.school {
    font-size: 16px;
    font-style: italic;
    color: black;
}
